<h1>Movies containing the words <%= title %></h1>

<!-- just dumping the data won't work -->
<!-- <h2><%= data['Search'] %></h2>  -->


<!-- use forEach to iterate -->
<% data["Search"].forEach(function(element){ %>
    <p><strong><%= element.Title%></strong> - <i><%= element.Year%></i></p>
    <img src= <%=element.Poster%> alt="">
<% }); %>