<h1>COVID19 Summary</h1>
<h3><%=date%></h3>
<h3>Global New Cases: <%=data.Global.NewConfirmed%></h3>
<h3>Global Total Confirmed: <%=data.Global.TotalConfirmed%></h3>
<h3>Global New Deaths: <%=data.Global.NewDeaths%></h3>
<h3>Global Total Deaths: <%=data.Global.TotalDeaths%></h3>